

<!-- <app-header></app-header> -->


<mat-sidenav-container class="app-container" autosize>

  <mat-sidenav mode="side" opened #sidenav mode="side" class="sidenav">
        <div class="sidenav-header">
                <mat-icon>business</mat-icon>
                <span>EmDash</span>
        </div>
        <mat-nav-list>
                <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
                         <mat-icon matListItemIcon>dashboard</mat-icon>
                        <span matListItemTitle>Dashboard</span>
                </a>
                <a mat-list-item routerLink="/employees" routerLinkActive="active-link">
                         <mat-icon matListItemIcon>people</mat-icon>
                        <span matListItemTitle>Employees</span>
                </a>
                <a mat-list-item routerLink="/settings" routerLinkActive="active-link">
                         <mat-icon matListItemIcon>settings</mat-icon>
                        <span matListItemTitle>Settings</span>
                </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
         <div style="padding: 16px;">
                <mat-slide-toggle
                        [checked]="themeService.isDarkMode"
                        (change)="themeService.toggle()"
                        color="accent">
                        Dark Mode
                </mat-slide-toggle>
        </div>
  </mat-sidenav>
  <mat-sidenav-content>
         <mat-toolbar color="primary" class="toolbar">
                <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Toggle menu">
                        <mat-icon>menu</mat-icon>
                </button>
                <span>Employee Management Dashboard</span>
                <span class="toolbar-spacer"></span>
                <button mat-icon-button [matBadge]="notifCount" matBadgeColor="warn" matTooltip="Notifications">
                        <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button matTooltip="My Account">
                        <mat-icon>account_circle</mat-icon>
                </button>
         </mat-toolbar>

        <main class="main-content">
                <router-outlet></router-outlet>
        </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->


<!-- <router-outlet></router-outlet> -->




<!-- <button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="secondary">Secondary</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button color="info">Info</button>
<button mat-raised-button color="accent">Accent</button>

 <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
</button> -->
