

<!-- <app-header></app-header> -->

<router-outlet></router-outlet>

<!-- <button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="secondary">Secondary</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button color="info">Info</button>
<button mat-raised-button color="accent">Accent</button>

 <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
</button> -->
